.messages
  .message{"data-message_id" => "4280"}
    .message__upper-info
      %p.message__upper-info__talker クールコーダ
      %p.message__upper-info__date 2019/09/22(Sun) 17:26:53
    %p.message__text tttttttttttttttttttttttt
  .message{"data-message_id" => "4332"}
    .message__upper-info
      %p.message__upper-info__talker クールコーダ
      %p.message__upper-info__date 2019/09/23(Mon) 10:12:57
    %p.message__text KONBANHA