-# MessagesControllerからの遷移
.flash-box
.wrapper
  .side-bar
    = render './groups/side_bar_contents'          
  .chat-main
    = render './groups/main_header'
    .messages
      = render partial: 'message', collection: @messages
    = render 'messages_form'