// _chat-main, _chat-side.scss両方
$html-back-color:#FFF;
$base-text-color:#000;
$flashbox-text-color:white;

// _chat-side.scss部分
$side-text-color:white;
$side-header-background-color: #253141;
$side-header-groups-backcolor:#2f3e51;

$side-width: 300px;
$side-LR-padding: 20px;
$sideheader-height: 100px;

// _chat-main.scss部分
$messages-backcolor:#fafafa;
$messages-textcolor:#434a54;
$form-backcolor:#ddd;
$input-text-color:#434a54;
$submitbtn-color:#38aef0;
$submitbtn-text-color:white;

$message-text-font:14px;
$main-LR-padding: 40px;
$mainheader-height: $sideheader-height;