.main-header
  -if @group then
    .main-header__left-box
      %h2.main-header__left-box__current-group{"group_id" => @group.id}
        =@group.name
      %ul.main-header__left-box__member-list
        Member：
        -@group.users.each do |group_user|
          %li.main-header__left-box__member-list__member
            =group_user.name
    %a{:href => edit_group_path(@group.id)}
      .main-header__edit-btn
        Edit