-# GroupssControllerからの遷移
.flash-box
.wrapper
  .side-bar
    .header
      = render 'user_info'  
    = render 'groups_info' 
  .chat-main
    = render 'main_header'
    .messages
    = render './messages/messages_form'