.chat-side {
  width: $side-width;
  color: $side-text-color;
  float: left;

  & .side-header {
    background-color: $side-header-background-color;
    height: $sideheader-height;
    display: flex;
    align-items: center;
    padding: 0 $side-LR-padding;
    &__box {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-weight: bold;
      &__menu {
        display: flex;
        & li {
          margin-left: 0.3rem;
        }
      }
    }
  }
  & .groups {
    height: calc(100vh - 100px);
    background-color: $side-header-groups-backcolor;
    padding: 20px $side-LR-padding 0;
    overflow: scroll;
    & .group {
      margin-bottom: 40px;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__latest-message {
        font-size: 11px;
      }
    }
  }

}