.side-bar {
  color: $side-text-color;
  width: $side-width;
  float: left;
  a{
    color: $side-text-color;
  }
  .header {
    background-color: $side-header-background-color;
    height: $sideheader-height;
    align-items: center;
    padding: 0 $side-LR-padding;
    display: flex;
    &-main {
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      width: 100%;
      h3.header__name{
        font-weight: bold;
      }
      ul.header__lists{
        display: flex;
        li.list{
          font-size: 16px;
          margin-left: 0.3rem;
        }
      }
    }
  }

  .groups {
    background-color: $side-header-groups-backcolor;
    height: calc(100vh - 100px);
    padding: 20px $side-LR-padding 0;
    overflow: scroll;
    .group {
      margin-bottom: 40px;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}