$html-back-color:#FFF;
$base-text-color:#000;
$flashbox-text-color:white;

$side-text-color:white;
$side-header-background-color: #253141;
$side-header-groups-backcolor:#2f3e51;

$messages-backcolor:#fafafa;
$messages-textcolor:#434a54;

$form-backcolor:#ddd;
$input-text-color:#434a54;
$submitbtn-color:#38aef0;
$submitbtn-text-color:white;

$message-text-font:14px;

$side-width: 300px;
$sideheader-height: 100px;
$mainheader-height: $sideheader-height;