@import "./reset";
@import "./variable";
@import "modules/user";
@import "font-awesome";
@import "config/colors";
@import "modules/flash";
@import "./chat-main";
@import "./chat-side";

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

.chat-side {
  & a {
    color:$side-text-color;
  }
}

html {
  color: $base-text-color;
  background: $html-back-color;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.flash-box {
  color: $flashbox-text-color;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

