!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield


-# <!DOCTYPE html>
-#   <html>
-#     <head>
-#       <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
-#       <title>ChatSpaceSample</title>
-#       <meta name="csrf-param" content="authenticity_token" />
-#       <meta name="csrf-token" content="jf6CpLYzCP1gD2XhK2Mukhb2565GUiLRztMggYZyUgyzzMqIRidBnlHYyDR4gqvN24ehrUGWFx57XvRgFHFrAg==" />
-#       <link rel="stylesheet" media="all" href="/assets/application-20597f7122b97f433c4487edf7d6a0cfc9e951e2a661b8b0c7320b95bbd38ccd.css" data-turbolinks-track="reload" />
-#       <script src="/assets/application-92a91cf5753a538c5407a46c726acab43576fb46358ffa8a7ee0ee0719aa2f51.js" data-turbolinks-track="reload">
-#       </script>
-#     </head>